<div class="container">
  <h2 class="text-center">My restaurants </h2>
  <% @restaurants.each do |restaurant| %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= restaurant.photo_url %>');">
      <div class="card-title-wrapper">
        <h2> <%= restaurant.name.upcase %> </h2>
      </div>

      <div class="card-edit-wrapper">
        <p> <%= link_to "See", restaurant_path(restaurant) %> </p>
      </div>

      <div class="card-category"> <%= restaurant.category.capitalize %>
      </div>
      <div class="card-description">

        <p>  <i class="fas fa-map-marker"></i> <%= restaurant.address %> </p>
      </div>
    </div>
  <% end %>
  <p class="text-center"> <%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-blue" %> </p>
</div>
