<% if @bill.restaurant.photo.file.nil? %>

  <div class="banner banner-bill" style="background-image: url('<%= image_path 'rest1.jpg' %>')">
    <h1 class= "text-center">
      <br>
      <%= @bill.restaurant.name %>
      - <%= @bill.restaurant.address %>
      <br>
      <!-- CHANGE BILL.ID TO BILL.NUMBER_OF_PEOPLE ONCE IMPLEMENTED -->
      <% if @bill.number_of_people < 2 %>
      <!-- CHANGE BILL.ID TO BILL.NUMBER_OF_PEOPLE ONCE IMPLEMENTED -->
        All orders: (<%= @bill.number_of_people %> person)
      <% else %>
      <!-- CHANGE BILL.ID TO BILL.NUMBER_OF_PEOPLE ONCE IMPLEMENTED -->
        All orders: (<%= @bill.number_of_people %> people)
      <% end %>
      <br>
      <br>
      <%= @bill.date.strftime("You book for %A %d %B %Y")   %>
      <%= @bill.date.strftime("at %H:%M")  %>
      <br>
    </h1>
  </div>

<% else %>

<div class="banner banner-bill" style="background-image: url(('<%= cl_image_path @bill.restaurant.photo %>')">
    <h1 class= "text-center">
      <br>
      <%= @bill.restaurant.name %>
      - <%= @bill.restaurant.address %>
      <br>
       <!-- CHANGE BILL.ID TO BILL.NUMBER_OF_PEOPLE ONCE IMPLEMENTED -->
      <% if @bill.id < 2 %>
       <!-- CHANGE BILL.ID TO BILL.NUMBER_OF_PEOPLE ONCE IMPLEMENTED -->
        All orders: (<%= @bill.id %> person)
      <% else %>
       <!-- CHANGE BILL.ID TO BILL.NUMBER_OF_PEOPLE ONCE IMPLEMENTED -->
        All orders: (<%= @bill.id %> people)
      <% end %>
      <br>
    </h1>
  </div>

<% end %>

<div class="container">
  <div class="row">
    <% @bill.orders.each do |order| %>
      <div class="col-md-6">
        <div class="card-order">
          <div class="card-order-status-info">
            <p class= "order-<%=order.status.downcase%>"><%= order.status %> </p>
            <%= link_to "Cancel order", order_path(order), method: :delete, data: { confirm: "Are you sure?" }%>
          </div>
          <div class="order-infos">
            <p class= "order-name text-center"> Order of <%= order.user.email.capitalize %></p>
            <div class="order-items" style="overflow:scroll">
              <% sum = 0 %>
              <% order.order_items.each do |order_item| %>
                <div class="order-item-inline">
                  <div class="order-item-inline-food"><i class="fas fa-utensils"></i> <%= order_item.item.name.capitalize %></div>
                  <div class="order-price"> <%= order_item.item.price%> €</div>
                </div>
                  <% sum += order_item.item.price%>
              <% end %>
            </div>
          </div>
          <div class="total-price-edit">
            <div class="total-price-bill-edit-text">
              Total price:
            </div>
            <div class="total-price-bill-edit-sum">
              <%= sum %>€
            </div>
          </div>
          <p class="text-center"> <%= link_to 'PAY ORDER', new_order_payment_path(order), class: 'btn btn-blue'%></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h1 class="text-center"> <%= link_to 'VALIDATE BILL', restaurants_path, class: 'btn btn-blue'%> </h1>



