<h1 class= "text-center">All orders</h1>
<div class="container">
  <div class="row">
    <% @bill.orders.each do |order| %>

    <div class="col-xs-12 col-sm-4">

      <div class="order">
        <%= link_to "Cancel order", order_path(order), method: :delete, data: { confirm: "Are you sure?" }%>
        <div class="order-infos">
          <p class= "order-name"> Order of <%= order.user.email.capitalize %></p>
          <div class="order-items" style="overflow:scroll">
            <% order.order_items.each do |order_item| %>
              <p> <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, order_item_path(order_item), method: :delete, data: { confirm: "Are you sure?" }%> <span class="item-name"><%= order_item.item.name.capitalize %> <span class="order-price"> <%= order_item.item.price%> €</span> </span></p>
            <% end %>
          </div>



          <p class="total-price"> Total price:
            <% sum = 0 %>
            <% @bill.orders.each do |order| %>
              <% order.order_items.each do |order_item| %>
                <% sum += order_item.item.price%>
              <% end %>
            <%= sum %> € </p>
            <p class= "order-<%=order.status.downcase%>"><%= order.status %> </p>
              <p class="text-center"> <%= link_to 'PAY ORDER', new_order_payment_path(order), class: 'btn btn-blue'%></p>
                <% end %>
              </div>
            </div>
          </div>
                <% end %>
        </div>
      </div>

<!--
      <h1 class="text-center"> <%= link_to 'VALIDATE BILL', restaurants_path, class: 'btn btn-blue'%>
      </h1> -->





