<% if @bill.restaurant.photo.file.nil? %>
<div class="banner-resto" style="background-image: url('<%= image_path 'rest1.jpg' %>')">
  <div class="resto-infos">
    <h3 ><%= @bill.restaurant.name %></h3>
    <div class= "text-box"> <p>€€€ </p> </div> <div class= "text-box"> <p> <%= @bill.restaurant.address  %></p> </div>
  </div>
</div>

<% else %>
<div class="banner-resto" style="background-image: url('<%= cl_image_path @bill.restaurant.photo %>')">
  <div class="resto-infos">
    <h3 ><%= @bill.restaurant.name %></h3>
    <div class= "text-box"> <p>  <%= @bill.restaurant.address  %></p> </div>
  </div>
</div>
<% end %>


<br>
<br>

<div class="cont-pills-menus-order">
  <div class="container-pills">
    <div class="col-md-12">
      <ul class="nav nav-pills nav-stacked">
        <li class="btn-menu"><a href="#">Menu</a></li>
        <li><a href="?utf8=✓&query=starters">Starters</a></li>
        <li><a href="?utf8=✓&query=mains">Main</a></li>
        <li><a href="?utf8=✓&query=desserts">Desserts</a></li>
        <li><a href="?utf8=✓&query=drinks">Drinks</a></li>
      </ul>
    </div>
  </div>

  <div class="container-show" style="overflow:scroll;">

    <div class="menu-title">
      <% if @bill.restaurant.items[0].nil? %>
      <h2>This restaurant doesn't have any item in this category 🤷‍ </h2>
      <% else %>
      <h2>  <%= @bill.restaurant.items[0].category.upcase %>: </h2>
      <% end %>
    </div>

    <% add = image_path("add.png") %>
    <% categories = {
      "mains" => image_path("food-mains.png"),
      "starters" => image_path("food-starters.png"),
      "desserts" => image_path("food-desserts.png"),
      "drinks" => image_path("food-drinks.png"),
    }  %>


    <%= simple_form_for [@order, @order_item] do |f| %>
    <%= f.association :item,
    collection: @bill.restaurant.items,
    as: :radio_buttons,
    item_wrapper_class: 'js-form-trigger',
    label_method:
    ->(item){ "
      <div class='menu-all'>
      <div class='menu-picture'>
      <img src='#{categories[item.category]}' height='65'/>
      </div>
      <div class='menu-description'>
      <h3>#{ item.name }</h3>
      <p>#{ item.description }</p>
      </div>
      <div class='menu-price'>
      #{ item.price } €
      </div>
      <div class='menu-add'>
      <img src='#{add}' height='45'>
      </div>
      </div>
      ".html_safe } %>
      <%= f.button :submit %>
      <% end %>

      <% @bill.restaurant.items.each do |item| %>

      <% end %>
      <br>
    </div>

    <div class="container-order">
      <h3 class="text-center">Your order</h3>
      <div class= "overflow-bill" style="overflow:scroll">
        <% @bill.orders.each do |order| %>
          <% order.order_items.each do |order_item| %>
            <p> <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, order_item_path(order_item), method: :delete, data: { confirm: "Are you sure?" }%> <span class="order-i"><%= order_item.item.name %><span class= "price-i"> <%= order_item.item.price%> € </span></span> </p>
          <% end %>
        <% end %>
      </div>

      <br>

      <div class="">
        <p>Invite friends: </p>
        <p>Share this link with your friends for them to place an order!</p>
        <span>
          <a href="whatsapp://send?text=<%= request.original_url %>" target="_blank""> <%= '<i class="fab fa-whatsapp"></i>'.html_safe %> Whatsapp</a>

<!--       <a href="mailto:{email_address}?subject=Join me for lunch!&body=<%= request.original_url %>">  <%= '<i class="far fa-envelope"></i>'.html_safe %>Send Email</a> -->

          <a href="https://mail.google.com/mail/?view=cm&to={email_address}&su=Join me for lunch!&body=<%= request.original_url %>" target="_blank">  <%= '<i class="far fa-envelope"></i>'.html_safe %>Send Email</a>

        </span>
      </div>

      <br>

      <div class="total-price-bill-show">

        <div class="total-price-bill-show-text">
          Total price:
        </div>

        <% sum = 0 %>
        <% @bill.orders.each do |order| %>
          <% order.order_item.each do |order_item| %>
            <% sum += order_item.item.price%>
          <% end %>
        <% end %>

        <div class="total-price-bill-show-sum">
          <%= sum %>€
        </div>
      </div>


      <br>

      <%= link_to 'FINISH ORDER', edit_bill_path(@bill), class: 'btn btn-blue'%>


    </div>
  </div>


