<% if @bill.restaurant.photo.file.nil? %>

  <div class="banner-resto" style="background-image: url('<%= image_path 'rest1.jpg' %>')">
    <div class="resto-infos">
      <h3><%= @bill.restaurant.name %></h3>
      <% if @bill.restaurant.average_rating == nil %>
                     <p>  </p>
                  <% else %>

    <% @bill.restaurant.average_rating.times do %>
       <span> <i class="fas fa-star"></i> </span>
    <% end %>
    <% (5 - @bill.restaurant.average_rating).times do %>
        <span><i class="far fa-star"></i> </span>
    <% end %>
    <% end %>
      <p>  <%= @bill.restaurant.description %></p>
      <div class= "text-box"> <p> <%= @bill.restaurant.address %></p> </div>
    </div>
  <div class="resto-infos-order">
    <div class= "text-box">
     <div class= "open-time">
      <h4>Opening hours</h4>
      <p>from <span style="font-size:130%;"><%= @bill.restaurant.opening_time.strftime("%H:%Mh") %></span>
      to <span style="font-size:130%; "><%= @bill.restaurant.closing_time.strftime("%H:%Mh") %></span></p>
     </div>
    </div>
  </div>
  </div>
</div>

<% else %>

  <div class="banner-resto" style="background-image: url('<%= cl_image_path @bill.restaurant.photo %>'); background-position-y: center">
    <div class="resto-infos">
      <h3 ><%= @bill.restaurant.name %></h3>
      <div class= "text-box"> <p> <%= @bill.restaurant.address  %> </p> </div>
    </div>
  <div class="resto-infos-order">

    <div class= "text-box">
     <div class= "open-time">
      <h4>Opening hours</h4>
      <p>from <span style="font-size:130%;"><%= @bill.restaurant.opening_time.strftime("%H:%Mh") %></span>
      to <span style="font-size:130%; "><%= @bill.restaurant.closing_time.strftime("%H:%Mh") %></span></p>
     </div>
    </div>
  </div>

  </div>
<% end %>

<div class="menu-items-XS">
  <%= render :partial => 'pages/navbar-horizontal-bill' %>
  <%= render :partial => 'pages/show-bills-mobile' %>
</div>

<div class="menu-items-LG">
   <%= render :partial => 'pages/navbar-bill-desktop' %>
   <%= render :partial => 'pages/show-bills-desktop' %>
</div>




