<% if @bill.restaurant.photo.file.nil? %>

  <div class="banner-resto" style="background-image: url('<%= image_path 'rest1.jpg' %>')">
    <div class="resto-infos">
      <h3><%= @bill.restaurant.name %></h3>
      <% if @bill.restaurant.average_rating == nil %>
                     <p>  </p>
                  <% else %>

    <% @bill.restaurant.average_rating.times do %>
       <span> <i class="fas fa-star"></i> </span>
    <% end %>
    <% (5 - @bill.restaurant.average_rating).times do %>
        <span><i class="far fa-star"></i> </span>
    <% end %>
    <% end %>
      <p>  <%= @bill.restaurant.description %></p>
      <div class= "text-box"> <p>€€€ </p> </div> <div class= "text-box"> <p> <%= @bill.restaurant.address %></p> </div>
    </div>
  </div>
</div>

<% else %>

  <div class="banner-resto" style="background-image: url('<%= cl_image_path @restaurant.photo %>')">
    <div class="resto-infos">
      <h3 ><%= @bill.restaurant.name %></h3>
      <div class= "text-box"> <p> @bill.restaurant.address</p> </div>
    </div>
  </div>
</div>
<% end %>

<br>

<div class="cont-pills-menus-order">
  <div class="container-pills">
    <div class="col-md-12">
      <ul class="nav nav-pills nav-stacked">
        <li class="btn-menu"><a href="#">Menu</a></li>
        <li><a href="?utf8=✓&query=starters">Starters</a></li>
        <li><a href="?utf8=✓&query=mains">Main</a></li>
        <li><a href="?utf8=✓&query=desserts">Desserts</a></li>
        <li><a href="?utf8=✓&query=drinks">Drinks</a></li>
      </ul>
    </div>
  </div>

  <div class="container-show" style="overflow:scroll;">

    <div class="menu-title">
      <% if @bill.restaurant.items[0].nil? %>
        <h2>This restaurant doesn't have any item in this category 🤷‍ </h2>
      <% else %>
        <h2>  <%= @bill.restaurant.items[0].category.upcase %>: </h2>
      <% end %>
    </div>

    <% add = image_path("add.png") %>
    <% categories = {
      "mains" => image_path("food-mains.png"),
      "starters" => image_path("food-starters.png"),
      "desserts" => image_path("food-desserts.png"),
      "drinks" => image_path("food-drinks.png"),
    }  %>

    <% @bill.restaurant.items.each do |item| %>
      <%= simple_form_for [@order, @order_item], remote: true do |f| %>
        <%= f.input :item_id, input_html: {value: item.id} , as: 'hidden' %>

          <div class='menu-all'>
            <div class='menu-picture'>
              <img src="<%= image_path "food-#{item.category}" %>" height='42'/>
            </div>
            <div class='menu-description'>
              <h3><%= item.name.capitalize %></h3>
              <p><%= item.description %></p>
            </div>
            <div class='menu-price'>
              <%= item.price %> €
            </div>
            <%#= f.submit %>
            <input type="submit" value="" class="menu-add submit-plus" style="background:url(<%= image_path "littleadd.png" %>) no-repeat; "/>
          </div>
      <% end %>

    <% end %>

    <%#= simple_form_for [@order, @order_item], remote: true do |f| %>
    <%#= f.association :item,
    collection: @bill.restaurant.items,
    as: :radio_buttons,
    item_wrapper_class: '',
    label_method:
    ->(item){ "
      <div class='menu-all'>
      <div class='menu-picture'>
      <img src='#{categories[item.category]}' height='42'/>
      </div>
      <div class='menu-description'>
      <h3>#{ item.name.capitalize }</h3>
      <p>#{ item.description }</p>
      </div>
      <div class='menu-price'>
      #{ item.price } €
      </div>
      <div class='menu-add'>
      <img src='#{add}' height='18'>
      </div>
      </div>
      ".html_safe } %>
      <%#= f.button :submit %>
      <%# end %>

      <br>
    </div>

    <div class="container-order">
      <h2 class="text-center your-order">Your order</h2>
      <%= form_for @bill do |f| %>
        <div class="text-center"> <%= f.label :number_of_people %>
          <%= f.select :number_of_people, 1..20 %></div>
          <br>
          <div class="text-center"><%= f.label :Time_for_booking %>
            <br>
            <%= f.datetime_select :date, :default => Time.now %>
          </div>
          <hr>
          <div class= "overflow-bill" id="user-orders" style="overflow:scroll">
            <% @bill.orders.each do |order| %>
              <% if order.user_id == current_user.id %>
                <% order.order_items.each do |order_item| %>
                  <%= render "order_items/order_item", order_item: order_item %>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <hr>
        <div class="text-center">
            <button type="button" class="btn btn-warning text-center" data-toggle="modal" data-target="#myModal">
              Invite your friends!
            </button>

        </div>

        <hr>

        <div class="total-price-bill-show">
          <div class="total-price-bill-show-text">
            <u> Total price: </u>
          </div>

          <% sum = 0 %>
            <% @bill.orders.each do |order| %>
              <% order.order_items.each do |order_item| %>
                <% sum += order_item.item.price%>
            <% end %>
          <% end %>

          <div data-order-price-id="<%= @order.id %>" class="total-price-bill-show-sum">
            <u> <%= sum %>€ </u>
          </div>
        </div>

        <br>

       <div class="text-center">
          <input type="submit" name="commit" value="Confirm Order" data-disable-with="Confirm Order"  class="btn btn-blue btn-lg">
       </div>
        <% end %>
      </div>
    </div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Invite your friends!</h4>
      </div>
      <div class="modal-body">
          <p>Share this link with your friends for them to place an order!</p>
            <div>
              <a href="https://api.whatsapp.com/send?phone=whatsappphonenumber&text=<%= request.original_url %>" target="_blank"> <%= '<i class="fab fa-whatsapp"></i>'.html_safe %> Whatsapp  </a>
            </div>
            <!--       <a href="mailto:{email_address}?subject=Join me for lunch!&body=<%= request.original_url %>">  <%= '<i class="far fa-envelope"></i>'.html_safe %>Send Email</a> -->
            <div>
              <a href="https://mail.google.com/mail/?view=cm&to={email_address}&su=Join me for lunch!&body=<%= request.original_url %>" target="_blank">  <%= '<i class="far fa-envelope"></i>'.html_safe %> Send Email  </a>
            </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

