<!-- item menu inside bills  -->
<div class="cont-pills-menus-order">
  <div class="container-pills">
    <div class="menu-items-LG col-md-12">
      <ul class="nav nav-pills nav-stacked">
        <li class="btn-menu"><%= link_to "Menu", bill_path(@bill, query: ""), remote: true  %></li>
        <li><%= link_to "Starters", bill_path(@bill, query: "starters"), remote: true %></li>
        <li><%= link_to "Mains", bill_path(@bill, query: "mains"), remote: true %></li>
        <li><%= link_to "Desserts", bill_path(@bill, query: "desserts"), remote: true %></li>
        <li><%= link_to "Drinks", bill_path(@bill, query: "drinks"), remote: true %></li>
      </ul>
    </div>
  </div>


