

  <div class="banner ">
    <div class="banner-content">
      <br>
      <h1>EasyFork</h1>
      <h4>Are you still waiting?</h4>
      <br>
      <p>BOOK A TABLE, ORDER YOUR MEAL IN ADVANCE & SAVE TIME</p>
        <%= render :partial => 'pages/form' %>
    </div>
    <div>

    </div>
  </div>



<div class="container">
  <div class="row" style="margin-top: 70px">
    <h2>How it works?</h2>
  </div>
  <div class="row" style="margin-top: 10px">

          <div class="col-xs-12 col-sm-4">
            <div class="card-how-it-works">

             <div class="how-icon">
              <%= image_tag "calendar.png", height: 50 %>
             </div>
             <div class="how-text">
              <p>Choose a restaurant a day or an hour</p>
             </div>
            </div>
          </div>



            <div class="arrow">
              <%= image_tag "right-arrow.png", height: 80 %>
            </div>




        <div class="col-xs-12 col-sm-4">
          <div class="card-how-it-works">
            <div class="how-icon">
             <%= image_tag "ordering.png", height: 50 %>
            </div>
            <div class="how-text">
              <p>Order your meal in advance from the restaurant's selection</p>
           </div>
          </div>
        </div>

            <div class="arrow">
              <%= image_tag "right-arrow.png", height: 80 %>
            </div>

        <div class="col-xs-12 col-sm-4">
          <div class="card-how-it-works">
            <div class="how-icon">
              <%= image_tag "food.png", height: 50 %>
            </div>
            <div class="how-text">
             <p>Enjoy your meal saving time</p>
           </div>
          </div>
         </div>
  </div>


    <div class="row" style="margin-top: 70px">
      <h2> New discoveries</h2>
    </div>
    <div class="row" style="margin-top: 10px">

        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          </div>

        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          </div>
        </div>
    </div>

    <div class="row" style="margin-top: 70px">
      <h2>restaurants categories</h2>
    </div>
    <div class="row" style="margin-top: 10px">

            <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          </div>

        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          </div>
        </div>
      </div>
</div>
