
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.7) 70%), url('<%= image_path 'restaurant_home3.jpg' %>');">
  <div class="banner-content">
    <br>

    <h4>Are you still waiting?</h4>
    <br>
    <h1 style= "color:white">BOOK A TABLE, ORDER YOUR <br> MEAL IN ADVANCE & SAVE TIME</h1>
    <%= render :partial => 'pages/form-home' %>
    <div>
      <%= link_to "See all Restaurants", restaurants_path, class: "btn btn-blue" %>
    </div>
  </div>
</div>






<div class="container container-home">

  <div class="row" style="margin-top: 70px">
    <h2>How it works?</h2>
  </div>

  <div class="row-how-it-works" style="margin-top: 10px">
    <div class="card-how-it-works">
      <div class="how-icon">
        <%= image_tag "calendar.png", height: 80 %>
      </div>
      <div class="how-text">
        <p>Choose a restaurant a day or an hour</p>
      </div>
    </div>

    <div class="arrow">
      <%= image_tag "right-arrow.png", height: 80 %>
    </div>

    <div class="card-how-it-works">
      <div class="how-icon">
        <%= image_tag "ordering.png", height: 80 %>
      </div>
      <div class="how-text">
        <p>Order your meal in advance from the restaurant's selection</p>
      </div>
    </div>

    <div class="arrow">
      <%= image_tag "right-arrow.png", height: 80 %>
    </div>


    <div class="card-how-it-works">
      <div class="how-icon">
        <%= image_tag "food-mains.png", height: 80 %>
      </div>
      <div class="how-text">
        <p>Enjoy your meal saving time</p>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 70px">
    <h2> Most popular restaurants</h2>
  </div>
  <div>
    <div class="row">
      <% @restaurants.each do |restaurant| %>

      <div class="col-xs-12 col-md-4 col-sm-6">
        <% if restaurant.photo.file.nil? %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url('<%= image_path 'rest1.jpg', height: 300, width: 400, crop: :fill %>')">
          <div class="card-title-wrapper">
            <h2> <%= restaurant.name.capitalize %> </h2>
          </div>
          <div class="card-category">
            <%= restaurant.category %>
          </div>
          <div class="card-description">
            <p><i class="fas fa-map-marker"></i> <%= restaurant.address %> </p>
          </div>
          <%= link_to "", restaurant_path(restaurant), class: "card-link" %>
        </div>
      </div>

      <% else %>

      <div class="col-xs-12 col-md-4 col-sm-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url('<%= cl_image_path restaurant.photo, height: 300, width: 400, crop: :fill %>')">
          <div class="card-title-wrapper">
            <h2> <%= restaurant.name.capitalize %> </h2>
          </div>
          <div class="card-category">
            <%= restaurant.category %>
          </div>
          <div class="card-description">
            <p><i class="fas fa-map-marker"></i> <%= restaurant.address %> </p>
          </div>
          <%= link_to "", restaurant_path(restaurant), class: "card-link" %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>

  <div class="row" style="margin-top: 70px">
    <h2> New discoveries</h2>
  </div>
  <div class="row" style="margin-top: 10px">
    <div class="col-xs-12 col-md-4 col-sm-6">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
      </div>
    </div>

    <div class="col-xs-12 col-md-4 col-sm-6">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
      </div>
    </div>

    <div class="col-xs-12 col-md-4 col-sm-6">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
      </div>
    </div>
  </div>


</div>
