
<div class="container-form">
  <%= simple_form_for [restaurant] do |f| %>
    <% if @restaurant.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @restaurant.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.input :name %>
    <%= f.input :category %>
    <%= f.input :address, input_html: { id: 'gmaps-input-address',class: "input-form" }, :placeholder => 'Start typing a place name...'  %>
    <%= f.input :opening_time %>
    <%= f.input :closing_time %>
    <%= f.input :description %>
    <%= f.input :photo %>
    <div class="text-center"> <%= f.button :submit, class: 'btn btn-blue' %> </div>
  <% end %>
</div>

