
<div class="container-form">
  <%= simple_form_for [restaurant] do |f| %>
    <% if @restaurant.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @restaurant.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.input :name %>
    <%= f.input :category %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :photo %>
    <div class="text-center"> <%= f.button :submit, class: 'btn btn-blue' %> </div>
  <% end %>
</div>



