<h1>Restaurants#index</h1>
<div>
  <p> Search bar</p>
</div>

<div class="main-container">
  <div class="card-container">
    <div class="row">
<!-- rest's do -->
       <div class="col-xs-12 col-md-6">
          <div class="card">
            <div class="restaurant-title-wrapper">
              <h2> "NOME" </h2>
            </div>
            <div class="card-category">
              <%= "CATEGORIA" %>
            </div>
          </div>
       </div>
   <!--    <%=  %> -->


<!-- TO DELETE FROM HERE -->
        <div class="col-xs-12 col-md-6">
          <div class="card">
            <div class="restaurant-title-wrapper">
              <h2> "NOME" </h2>
            </div>
            <div class="card-category">
              <%= "CATEGORIA" %>
            </div>
          </div>
       </div>
       <div class="col-xs-12 col-md-6">
          <div class="card">
            <div class="restaurant-title-wrapper">
              <h2> "NOME" </h2>
            </div>
            <div class="card-category">
              <%= "CATEGORIA" %>
            </div>
          </div>
       </div>
        <div class="col-xs-12 col-md-6">
          <div class="card">
            <div class="restaurant-title-wrapper">
              <h2> "NOME" </h2>
            </div>
            <div class="card-category">
              <%= "CATEGORIA" %>
            </div>
          </div>
       </div>
        <div class="col-xs-12 col-md-6">
          <div class="card">
            <div class="restaurant-title-wrapper">
              <h2> "NOME" </h2>
            </div>
            <div class="card-category">
              <%= "CATEGORIA" %>
            </div>
          </div>
       </div>
        <div class="col-xs-12 col-md-6">
          <div class="card">
            <div class="restaurant-title-wrapper">
              <h2> "NOME" </h2>
            </div>
            <div class="card-category">
              <%= "CATEGORIA" %>
            </div>
          </div>
       </div>
       <div class="col-xs-12 col-md-6">
          <div class="card">
            <div class="restaurant-title-wrapper">
              <h2> "NOME" </h2>
            </div>
            <div class="card-category">
              <%= "CATEGORIA" %>
            </div>
          </div>
       </div>
       <div class="col-xs-12 col-md-6">
          <div class="card">
            <div class="restaurant-title-wrapper">
              <h2> "NOME" </h2>
            </div>
            <div class="card-category">
              <%= "CATEGORIA" %>
            </div>
          </div>
       </div>
       <div class="col-xs-12 col-md-6">
          <div class="card">
            <div class="restaurant-title-wrapper">
              <h2> "NOME" </h2>
            </div>
            <div class="card-category">
              <%= "CATEGORIA" %>
            </div>
          </div>
       </div>
       <div class="col-xs-12 col-md-6">
          <div class="card">
            <div class="restaurant-title-wrapper">
              <h2> "NOME" </h2>
            </div>
            <div class="card-category">
              <%= "CATEGORIA" %>
            </div>
          </div>
       </div>
       <div class="col-xs-12 col-md-6">
          <div class="card">
            <div class="restaurant-title-wrapper">
              <h2> "NOME" </h2>
            </div>
            <div class="card-category">
              <%= "CATEGORIA" %>
            </div>
          </div>
       </div>
       <div class="col-xs-12 col-md-6">
          <div class="card">
            <div class="restaurant-title-wrapper">
              <h2> "NOME" </h2>
            </div>
            <div class="card-category">
              <%= "CATEGORIA" %>
            </div>
          </div>
       </div>
       <div class="col-xs-12 col-md-6">
          <div class="card">
            <div class="restaurant-title-wrapper">
              <h2> "NOME" </h2>
            </div>
            <div class="card-category">
              <%= "CATEGORIA" %>
            </div>
          </div>
       </div>
<!-- TO HERE -->



    </div>
  </div>

  <div class="map-container">
    <div class="map">
      <p id="map"> sticky map 🌋 </p>
    </div>
  </div>

</div>
