
<div class="search-index">
  <%= render :partial => 'pages/form-search-time' %>
</div>


<h1>Here are the restaurants we found for you, <%=  current_user.first_name %></h1>
<div class="main-container">

  <div class="card-container">
    <div class="row">
      <% @restaurants.each do |restaurant| %>
        <% if restaurant.photo.file.nil? %>
          <div class="col-xs-12 col-md-4 col-sm-6">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url('<%= image_path 'rest1.jpg', height: 300, width: 400, crop: :fill %>')">
              <div class="card-title-wrapper">
                <h2> <%= restaurant.name.capitalize %> </h2>
              </div>
              <div class="card-category">
                <%= restaurant.category %>
              </div>
              <div class="card-description">
                <p><i class="fas fa-map-marker"></i> <%= restaurant.address %> </p>
              </div>
              <%= link_to "", restaurant_path(restaurant), class: "card-link" %>
            </div>
          </div>

         <% else %>

          <div class="col-xs-12 col-md-4 col-sm-6">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url('<%= cl_image_path restaurant.photo, height: 300, width: 400, crop: :fill %>')">
              <div class="card-title-wrapper">
                <h2> <%= restaurant.name.capitalize %> </h2>
              </div>
              <div class="card-category">
                <%= restaurant.category %>
              </div>
              <div class="card-description">
                <p><i class="fas fa-map-marker"></i> <%= restaurant.address %> </p>
              </div>
              <%= link_to "", restaurant_path(restaurant), class: "card-link" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="map-container">
    <div
      id="map"
      style="width: 100%;
      height: 500px;"
      data-markers="<%= @markers.to_json %>"
      >
    </div>
  </div>

</div>

<div class="banner banner-show-rest">
  <%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-blue" %>
</div>
