<% if @restaurant.photo.file.nil? %>
  <div class="banner-resto" style="background-image: url('<%= image_path 'rest1.jpg' %>')">
    <div class="resto-infos">
      <h3><%= @restaurant.name %></h3>
      <% if @restaurant.average_rating == nil %>
        <p>  </p>
      <% else %>
        <% @restaurant.average_rating.times do %>
          <span> <i class="fas fa-star"></i> </span>
        <% end %>
        <% (5 - @restaurant.average_rating).times do %>
          <span><i class="far fa-star"></i> </span>
        <% end %>
      <% end %>
      <p> <%#= @restaurant.description %></p>
      <div class= "text-box"> <p> <%= @restaurant.address %></p>
      </div>
    </div>
  <div class="resto-infos">
    <div class= "text-box">
      <div class= "open-time">
      <h4>Opening hours</h4>
      <p>from <span style="font-size:130%;"><%= @restaurant.opening_time.strftime("%H:%Mh") %></span>
      to <span style="font-size:130%; "><%= @restaurant.closing_time.strftime("%H:%Mh") %></span></p>

       <div id="wrapper"> <p><a class="btn-add-images" href="#popup1">More Pictures</a></p> </div>
       </div>
      </div>
    </div>
  </div>

<% else %>
  <div class="banner-resto" style="background-image: url('<%= cl_image_path @restaurant.photo %>'); background-position-y: center">
    <div class="resto-infos">
      <h3 ><%= @restaurant.name %></h3>
      <div class= "text-box"> <p> <%=  @restaurant.address  %></p> </div>
    </div>
      <div class="resto-infos">
        <div class= "text-box">
          <div class= "open-time">
          <h4>Opening hours</h4>
          <p>from <span style="font-size:130%;"><%= @restaurant.opening_time.strftime("%H:%Mh") %></span>
          to <span style="font-size:130%; "><%= @restaurant.closing_time.strftime("%H:%Mh") %></span></p>
           <div id="wrapper"> <p><a class="btn-add-images" href="#popup1">More Pictures</a></p> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="button-order-container">
  <% if @current_user != nil %>
    <% if @restaurant.user_id != @current_user.id %>
      <%= link_to "Start order", restaurant_bills_path(@restaurant), method: :post, class: 'btn btn-order btn-blue btn-lg btn-big'%>
    <% end %>
  <% else %>
    <%= link_to "Start order", restaurant_bills_path(@restaurant), method: :post, class: 'btn btn-order btn-blue btn-lg btn-big'%>
  <% end %>
</div>

<div class="menu-items-XS">
  <%= render :partial => 'pages/navbar-horizontal-restaurant' %>
</div>

<div class="cont-pills-menus-order">
  <div class="cont-pills-menus">
    <div class="container-pills">
      <div class="col-md-12">
        <ul class="nav nav-pills nav-stacked">
          <li class="btn-menu"><%= link_to "Menu", restaurant_path(@restaurant), remote: true %></li>
          <li><%= link_to "Starters", restaurant_path(@restaurant, @item, query: "starters"), remote: true %></li>
          <li><%= link_to "Mains", restaurant_path(@restaurant, @item, query: "mains"), remote: true %></li>
          <li><%= link_to "Desserts", restaurant_path(@restaurant, @item, query: "desserts"), remote: true %></li>
          <li><%= link_to "Drinks", restaurant_path(@restaurant, @item, query: "drinks"), remote: true %></li>
          <br>
          <% if @current_user != nil %>
            <% if @restaurant.user_id == @current_user.id %>
              <%= link_to "Add images",  new_restaurant_image_path(@restaurant), class: "btn-add-images btn btn-blue" %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="container-show menu-items" style="overflow:scroll;">
      <%= render "items/restaurant-items", item: @item, restaurant: @restaurant, bill: @bill, order: @order, order_item: @order_item %>
    </div>
  </div>

  <div class="container-reviews text-center", style="overflow:scroll;">
    <h4 class="text-center">About <strong> <%=  @restaurant.name %>  </strong> </h4>
    <br>
    <br>
    <% if @restaurant.reviews.count < 1%>
      No reviews yet
    <% else %>
      <% @restaurant.reviews.order('created_at DESC').each do |review| %>
        <p>
          <% if review.user.picture.file.nil? %>
            <%= image_tag "http://steamavatars.co/?media_dl=2408", class: "avatar-small" %>
          <% else %>
            <%= cl_image_tag review.user.picture, class: "avatar-small" %>
          <% end %> <%= review.user.first_name %>
        </p>
        <% review.rating.times do %>
          <span> <i class="fas fa-star"></i> </span>
        <% end %>
        <% (5 - review.rating).times do %>
          <span><i class="far fa-star"></i> </span>
        <% end %>
        <div class= "review-content"> <p> "<%= review.content.capitalize %> " </p> </div>
      <% end %>
    <%end %>
  </div>
</div>

</div>
<div class="container">
  <div
  id="map"
  style="width: 100%;
  height: 380px;"
  data-markers="<%= @markers.to_json %>"
  ></div>
</div>


<br>

            <div class="container-reviews-XS text-center", style="overflow:scroll;">
              <h4 class="text-center">About <strong> <%=  @restaurant.name %>  </strong> </h4>
              <br>
              <br>
              <% if @restaurant.reviews.count < 1%>
              No reviews yet
              <% else %>
                <% @restaurant.reviews.order('created_at DESC').each do |review| %>
                  <p> <% if review.user.picture.file.nil? %>
                    <%= image_tag "http://steamavatars.co/?media_dl=2408", class: "avatar-small" %>
                  <% else %>
                    <%= cl_image_tag review.user.picture, class: "avatar-small" %>
                  <% end %> <%= review.user.first_name %></p>
                 <% review.rating.times do %>
                  <span> <i class="fas fa-star"></i> </span>
                  <% end %>
                  <% (5 - review.rating).times do %>
                  <span><i class="far fa-star"></i> </span>
                  <% end %>
                   <div class= "review-content"> <p> "<%= review.content.capitalize %> " </p> </div>
                <% end %>
                <%end %>
            </div>



<br>



<!-- Modal -->
<div class="modal-background fade" id="myImages" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-content-img">
    <!-- The Close Button -->
    <span class="close-img">&times;</span>
    </span></button>
    <div class="modal-body">
    </div>
  </div>


      </div>

    </div>

</div>



<div id="popup1" class="overlay">
    <div class="popup">
      <h2><%= @restaurant.name  %></h2>
      <a class="close" href="#">&times;</a>
      <div class="content">
         <% if @restaurant.images[0] != nil %>

            <!-- Modal Caption (Image Text) -->

            <div class="c-wrapper">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                     <% @restaurant.images.each_with_index do |image, n| %>
                       <li data-target='#MyCarousel' data-slide-to="#{n}" class="#{'active' if n == 0}"></li>
                     <% end %>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                         <%= cl_image_tag @restaurant.images.first.content %>
                      </div>
                          <% if @restaurant.images.count > 1 %>
                          <% @restaurant.images.drop(1).each do |image| %>
                         <div class="item">
                            <%= cl_image_tag image.content %>
                         </div>
                          <% end %>
                          <% end %>
                    </div>
                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>

              <% end %>
      </div>
    </div>
  </div>
</div>

